.authentication { 
    width: 100vw;
    height: calc(100vh - var(--navbar-height));
    display: grid;
    grid-template-columns: repeat(2,1fr);
    background: lightskyblue;
    font-size: 62.5%;
}

.auth-left {
    background: lightsteelblue;
} 

.auth-right {
    background: lightseagreen;
}