.cart-list {
    width: 100%;
    height: 100%;
    background: lightsalmon;
    display: grid;
    row-gap: 1em;
    overflow-y: scroll;
}

.cart-list::-webkit-scrollbar {
    width: 5px;
  }

  .cart-list::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  .cart-list::-webkit-scrollbar-thumb {
    background: #888;
  }